{{ $section := .Get "section" | default "schets" }}
{{ $pages := where .Site.RegularPages "Section" $section }}

{{ $page := index (shuffle $pages) 0 }}
{{ $blocks := split $page.RawContent "\n\n" }}
{{ $paragraphs := slice }}

{{ range $blocks }}
  {{ $p := replaceRE `\r` "" . | strings.TrimSpace }}

  {{ if and
    (gt (len $p) 0)
    (not (hasPrefix $p "#"))
    (not (hasPrefix $p "!["))
    (not (hasPrefix $p "{{<"))
    (not (hasPrefix $p "{{%"))
    (not (hasPrefix $p "<"))
  }}
    {{ $paragraphs = $paragraphs | append $p }}
  {{ end }}
{{ end }}

{{ $randomIndex := index (shuffle (seq 0 (sub (len $paragraphs) 1))) 0 }}
{{ $paragraph := index $paragraphs $randomIndex }}

{{ if lt (countwords $paragraph) 50 }}
  {{ if lt (add $randomIndex 1) (len $paragraphs) }}
    {{ $paragraph = printf "%s\n\n%s" $paragraph (index $paragraphs (add $randomIndex 1)) }}
  {{ else if ge (sub $randomIndex 1) 0 }}
    {{ $paragraph = printf "%s\n\n%s" (index $paragraphs (sub $randomIndex 1)) $paragraph }}
  {{ end }}
{{ end }}

{{ $paragraph | $.Page.RenderString (dict "display" "block") }}
<footer><i>fragment uit <a href="{{ $page.RelPermalink }}">{{ lower $page.Title }}</a></i></footer>
