.footer-content {
  font-size: .5em;
  max-width: var(--content-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: var(--content-padding);
  box-sizing: border-box;
}

.title {
  text-decoration: auto;
}

@media (min-width: 600px) {
  p {
    text-align: justify;
  }
}