.center {
    display: block;
    text-align: center;
}

.footer-content {
  font-size: .5em;
  max-width: var(--content-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: var(--content-padding);
  box-sizing: border-box;
  text-align: left;
}

.title {
  text-decoration: auto;
}

.footnotes hr:after {
  content: "___";
  margin: 0;
}

@media (min-width: 600px) {
  p {
    text-align: justify;
  }
}